<div
	class="replies-offer <%= offer == @offer ? 'offer-active' : '' %>"
	data-id="<%= offer.id %>"
	data-behavior="choose-replies-li">
		<div>
			<div class="replies-offer-tag-wrapper">
				<div class="offer-content" data-behavior="clamp">
				    <%= offer.content %>
				</div> <!-- /.replies-offer-tag-wrapper -->
				<% if new_replies_offer(offer) > 0 %>
					<span class="tag tag-pill tag-warning reply-count"><%= new_replies_offer offer %></span>
				<% end %>
			</div>
			<div class="replies-created-at" data-id="<%= offer.id %>">
			    <%= pretty_time offer.created_at %><br>
			    <% if not offer.accepted %>
			    	<span class="on-moderation"><%= t('on_moderation') %></span>
			    <% end %>
			</div>
			<div>
	        <%= link_to t('delete'),
	            offer_path(offer),
	            remote: true,
	            method: :delete,
	            class: "replies-offer-delete",
	            data: { confirm: t('sure') } 	%>
	      	</div>
		</div>
		

		<%= link_to "", choose_replies_path(offer_id: offer.id), remote: true, "data-behavior": "choose-replies", method: :get, style: "display:none" %>
</div>