<div class="media replies-reply <%= !reply.seen ? 'reply-new' : '' %>">
    <div class="media-left">
        <%= avatar(reply.user) %>
    </div> <!-- /.media-left -->
    <div class="media-body">
        <div class="reply-link">
            <%= user_link(reply.user) %>
        </div>
        <div class="replies-offer-tag-wrapper">
            <div class="reply-message">
                <%= reply.message %>
            </div>
            <% if !reply.seen %>
                <span class="tag tag-pill tag-warning reply-count">Новый</span>
            <% end %>
        </div>
        <div class="created-at">
            <%= pretty_time reply.created_at %>
        </div>
    </div> <!-- /.media-body -->
</div>