$(".offer-reply-form[data-id=<%= @offer.id %>]").replaceWith("<%= j (render partial: 'offers/offer_reply_form', locals: {offer: @offer}) %>")
$(".offer-reply[data-id=<%= @offer.id %>]").replaceWith("<%= j (render partial: 'offers/offer_reply', locals: {offer: @offer}) %>")

// break words on replies and limit to 2 lines with added dots after last line
$('.offer-content').each(function(index, element) {
  $clamp(element, { clamp: 2, useNativeClamp: false });
});