<div class="container">
  <div class="row replies-box">
    <div class="col-xs-12 col-md-4">
      <% if @offers.length > 0 %>
        <div class="replies-offer-list">
          <%= render partial: "offer", collection: @offers %>
        </div>
      <% else %>
        <div class="replies-offer-list">
          <div class="replies-offer-list-empty"><%= t('no_mine_offers') %></div>
        </div>
      <% end %>
    </div> <!-- /.col-xs-12 -->

    <div class="col-xs-12 col-md-8">
      <% if @replies.length > 0 %>
        <div class="replies-reply-list">  
          <%= render partial: "reply", collection: @replies %>
        </div>
      <% else %>
        <div class="replies-reply-list">
          <div class="replies-reply-list-empty"><%= t('no_replies') %></div>
        </div>
      <% end %>
    </div> <!-- /.col-xs-12 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->
<% if new_replies > 0 %>
  <%= link_to "", read_replies_path(ids: @replies.ids, offer_id: @offer.id), remote: true, method: :patch, "data-behavior": "read-replies", style: "display:none" %>
<% end %>