<% if @offers.length > 0 %>
  $(".replies-offer-list").html("<%= j (render partial: 'offer', collection: @offers) %>")
<% else %>
  $(".replies-offer-list").html("<div class='replies-offer-list-empty'><%= j t('no_mine_offers') %></div>")
<% end %>

<% if @replies.length > 0 %>
  $(".replies-reply-list").html("<%= j (render partial: 'reply', collection: @replies) %>")
<% else %>
  $(".replies-reply-list").html("<div class='replies-reply-list-empty'><%= j t('no_replies') %></div>")
<% end %>

$(".navbar").replaceWith("<%= j (render partial: 'layouts/navbar') %>")

// break words on replies and limit to 2 lines with added dots after last line
$('.offer-content').each(function(index, element) {
  $clamp(element, { clamp: 2, useNativeClamp: false });
});