$('#gallery-links').html('')

<% @photos.each do |photo| %>
    var link = document.createElement("a")
    link.href = "<%= photo %>"
    $('#gallery-links').append(link)
<% end %>

blueimp.Gallery($('#gallery-links a'))
