<div class="offer media-style" data-id="<%= offer.id %>">
	<div class="media">
		<div class="media-left">
	    	<%= avatar(offer.user) %>
	    </div>
	    <div class="media-body">
	    		<div class="offer-content">
				    <%= offer.content %>
				</div>
				<div class="created-at" data-id="<%= offer.id %>">
				    <%= pretty_time offer.created_at %>
				</div>

				<div class="offer-reply media-controls" data-id="<%= offer.id %>">
				      <div class="offer-delete media-controls">
				        <%= link_to t('delete'),
				            admin_offer_path(offer),
				            remote: true,
				            method: :delete,
				            data: { confirm: t('sure') } %>
			            <% if !offer.accepted %>
					        <%= link_to t('accept'),
					            accept_admin_offer_path(offer),
					            remote: true,
					            method: :patch,
					            data: { confirm: t('sure') } %>
			      		<% end %>
				      </div>
				</div>
		</div> <!-- /.media-body -->
	</div>
</div> 