<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <% if current_user %> <!-- offer form -->
                    <div class="media media-style">
                        <div class="media-left">
                            <%= avatar(current_user) %>    
                        </div>
                        <div class="media-body">
                                    <%= form_for(Offer.new, url: {controller: "admin/offers", action: "create"}) do |f| %>
                                    <%= text_field_tag 'user_uid', nil, class: 'form-control' %>
                                    <%= f.text_area :content, class: "form-control", maxlength: "140" %>
                                    <div class="media-controls">
                                        <%= f.submit t('offer'), id: "btn-offer-submit", class: "btn-media-control btn btn-primary" %>
                                    </div>
                                <% end %>
                        </div> <!-- /.media-body -->
                    </div>
                <% end %>

                <% if @offers.length > 0 %> <!-- offers list -->
                    <div class="offer-list">
                        <%= render partial: "offer", collection: @offers %>
                    </div>
                <% else %>
                    <div class="empty-offer-list">
                        <%= t('no_offers') %>
                    </div>
                <% end %>
        </div> <!-- /.col -->
    </div> <!-- /.row -->
</div> <!-- /.container -->
