<div class="offer media-style" data-id="<%= offer.id %>">
	<div class="media">
		<div class="media-left">
	    	<%= avatar(offer.user) %>
	    </div>
	    <div class="media-body">
	    		<div class="offer-content">
				    <%= offer.content %>
				</div>
				<div class="created-at" data-id="<%= offer.id %>">
				    <%= pretty_time offer.accepted %>
				</div>
			    <%= render partial: 'offer_reply', locals: {offer: offer} %>
		</div> <!-- /.media-body -->
	</div>
	<%= render partial: 'offer_reply_form', locals: {offer: offer} %>
</div> 