<% if current_user %>
	    <% if not offer.user == current_user %>
			<% reply = offer.replies.where(user: current_user).first %>
			<% if not reply %>
				<div class="media offer-reply-form" style="display:none" data-id="<%= offer.id %>" data-behavior="offer-reply-block">
					<div class="media-left">
						<%= avatar(current_user) %>
					</div>
					<div class="media-body">
						<%= form_for(Reply.new, url: offer_replies_url(offer), remote: true) do |f| %>
							<%= f.text_area :message, class: "form-control" %>
							<div class="media-controls">
								<%= f.submit t('reply'), class: "btn btn-primary btn-media-control" %>
								<input type="button" class="btn btn-default btn-media-control btn-cancel" value="<%=t('cancel')%>" data-id="<%= offer.id %>" data-behavior="cancel-reply-button">
							</div>
						<% end %>
		    		</div> <!-- /.media-body -->
				</div>
	    	<% else %>
	    		<div class="offer-reply-form" style="display:none" data-id="<%= offer.id %>"></div>
	    	<% end %> <!-- if current user replied offer -->
	    <% end %> <!-- if current user did not create offer -->
	<% end %> <!-- if current user -->