<div class="offer-reply media-controls" data-id="<%= offer.id %>">
  <% if current_user %>
    <% if not offer.user == current_user %>
      <% reply = offer.replies.where(user: current_user).first %>
      <% if not reply %>
        <a href="#" class="btn-reply" data-id="<%= offer.id %>" data-behavior="reply-button"><%=t('reply')%></a>
      <% else %>
        <%= link_to t('unreply'),
                offer_reply_path(offer, reply),
                remote: true,
                method: :delete,
                data: { confirm: t('sure') } %>
      <% end %> <!-- if current user replied offer -->
    <% else %>
      <div class="offer-delete media-controls">
        <%= link_to t('delete'),
            offer_path(offer),
            remote: true,
            method: :delete,
            data: { confirm: t('sure') } %>
      </div>
    <% end %> <!-- if current user did not create offer -->
  <% end %> <!-- if current user -->
</div>