	<figure class="figure">
		<img id="we" class="figure-img img-rounded" src="/we.jpg" alt="authors">
		<figcaption class="figure-caption">Это мы</figcaption>
	</figure>

	<a href="http://vk.com/aikrik">Крикунов Александр</a>: Логика и интеграция
	<br>
	<a href="http://vk.com/nkomolov">Николай Комолов</a>: Верстка
