<% if @offers.length > 0 %>
  <div class="offer-list">
    <%= render partial: "mine_offer", collection: @offers %>
  </div>
<% else %>
  <div class="empty-offer-list">
    <%= t('no_mine_offers') %>
  </div>
<% end %>
