body {

background: #F0F2F1;
font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
	margin-bottom: 2rem;
	background: #159d1a;
	border-radius: 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.navbar a {
	color: #fff;
}
.navbar-brand {
	font-weight: bold;
}

#replies-link {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#replies-link span {
	align-self: flex-start;
}

#replies-link-mobile {
	display: inline;	
}

#nav-extender-replies {
	font-size: .8rem;
}

#nav-avatar {
	width: 32px;
	height: 32px;
}

.media-body {
	position: relative;
}

.media-style {
	background: #fff;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.media-controls,
.nav-current-user {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.nav-current-user {
	flex-wrap: no-wrap;
	justify-content: flex-end;
}

.nav-logout {
	margin-left: .2rem !important;
}

.btn-cancel {
	margin-left: .5rem;
}

.offer-reply-form {
	margin-top: 1rem;
}

textarea {
	margin-bottom: .7rem;
	resize: none;

}

.mine-offer-reply {
	margin-top: 1rem;
}

.offer-content {
	//word-break: break-all;
	//word-wrap: break-word;
}


.offer-reply,
.offer-delete {
	position: absolute;
	bottom: 0;
	right: 0;
}

.offer-delete a {
	color: #FF4400;
}
.created-at {
	margin-bottom: 1.5rem;
	color: #999;
}

.replies-created-at {
	color: #999;
}

.replies-offer-delete,
.replies-offer-delete:hover{
	color: #FF4400;
}

.avatar {
	border-radius: 7px;
}

.offer {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

#we {
	width: 100%;
}

.navbar-brand {
	display: flex;
}

.navbar-brand > img {
  	display: inline-block;
  	margin-right: .3rem;
  	width: 32px;
  	height: 32px;
}

.empty-offer-list {
	text-align: center;
	color: #999;
	font-size: 2rem;
	font-weight: bold;
}

.navbar-toggle,
.navbar-collapse {
  display: none;
}

.navbar {
  display: inline-block !important;
  width: 100%;
}

.navbar-collapse {
  margin-top: 2.5rem;
}

.navbar-toggle {
  border: none;
  margin-top: 0;
  color: #fff;
  background: transparent;
  font-size: 1.5rem;
}

.replies-offer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5rem;
}

.reply-count {
	margin: 0 0.5rem;
}
@media (max-width: 543px){

  #desktop-nav {
    display: none;
  }

  .navbar-toggle {
    display: inline-block;
  }

	.navbar {
		display: flex;
		flex-direction: column;
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-nav .nav-item + .nav-item {
		margin: 0;
	}

	.nav-current-user {
		justify-content: flex-start;
	}

	.navbar-brand {
		justify-content: center;
		margin: 0;
	}

	.replies-box > div:first-child {
		border-right: none !important;		
	}

	.replies-offer,
	.replies-offer.offer-active {
		border-radius: 0 !important;
	}

	.navbar {
		margin: 0;
	}

	.navbar button span {
		position: relative;
		top: -3px;
	}

	#mobile-nav > li:first-child {
		display: flex;
		align-items: center;
	}
}

// Replies page
.replies-box .col-md-4 {
	padding: 0;
}

.replies-box {
	background: #fff;	
	border-radius: 5px;
}

.replies-box > div:first-child {
	border-right: 2px solid #CCC;		
}

.replies-reply {
	padding: .5rem 0;
}

.replies-offer-list > .replies-offer:first-child {
	border-top-left-radius: 5px;	
}

.replies-offer-tag-wrapper {
	display: flex;	
	justify-content: space-between;
	align-items: center;
}

.replies-offer > div:first-child {
	width: 100%;
}

// krik styles
.offer-active {
	background: #0275d8;
}

.offer-active .replies-created-at,
.offer-active .replies-offer-delete  {
	color: #DDD;
}

.offer-active .offer-content {
	color: #FFF;
}

.replies-reply-list-empty,
.replies-offer-list-empty {
	text-align: center;
	color: #999;
	font-weight: bold;
}
