<div class="navbar bg-faded">
        <%= link_to root_path, class:"navbar-brand" do %>
            <img src="/logo.svg" id="logo" alt="logo">
            <span><%= t('title') %></span>
        <% end %>
        <button type="button" class="pull-xs-right navbar-toggle"
          data-toggle="collapse" data-target=".navbar-collapse">
          <% if current_user %>
              <i class="fa fa-bars" aria-hidden="true"></i>
              <% if new_replies > 0 %>
                <span id="nav-extender-replies" class="tag tag-pill tag-warning"><%= new_replies %></span>
              <% end %>
          <% end %>
        </button>
        <ul id="desktop-nav" class="nav navbar-nav">
        <% if current_user %>
            <li class="nav-item">
                <%= link_to replies_path, id: "replies-link", class:"nav-link" do %>
                    <%= t('replies') %>
                    <% if new_replies > 0 %>
                        <span class="tag tag-pill tag-warning"><%= new_replies %></span>
                    <% end %>   
                <% end %>
            </li>

            <li class="nav-item">
                <%= link_to t('about'), about_path, class:"nav-link" %>
            </li>

            <div class="nav-current-user nav-item pull-sm-right">
                <%= current_user_avatar %>
                <%= link_to t('log_out'), signout_path, class:"nav-link nav-logout" %>
            </div>
        <% else %>
            <li class="nav-item">
                <%= link_to t('about'), about_path, class:"nav-link" %>
            </li>

            <li class="nav-item pull-xs-right">
                <%= link_to t('log_in'), "/auth/vkontakte", class:"nav-link"%>
            </li>
        <% end %>
      </ul>

      <div class="navbar-collapse collapse">
        <ul id="mobile-nav" class="nav navbar-nav">
        <% if current_user %>
            <li class="nav-item">
                <%= link_to t('replies'), replies_path, id: "replies-link-mobile", class:"nav-link" %>
                <% if new_replies > 0 %>
                    <span class="tag tag-pill tag-warning"><%= new_replies %></span>
                <% end %>
            </li>

            <li class="nav-item">
                <%= link_to t('about'), about_path, class:"nav-link" %>
            </li>

            <div class="nav-item">
                <%= link_to t('log_out'), signout_path, class:"nav-link" %>
            </div>
        <% else %>
            <li class="nav-item">
                <%= link_to t('about'), about_path, class:"nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to t('log_in'), "/auth/vkontakte", class:"nav-link"%>
            </li>
        <% end %>
      </ul>
      </div> <!-- /.navbar-collapse collapse -->
    </div>